@import "variables";
@import "globals";

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;

  .reliable {
    font-weight: 200;
  }

  .statement {
    font-size: 0.9375rem;
    margin: 1rem auto;
  }
}

.cards {
  padding: 2rem;

  .card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-top-width: 4px;
    border-top-style: solid;
    box-shadow: 0px 10px 10px rgb(76 78 97 / 20%);

    .card-title {
      padding-bottom: 0.5rem;
    }

    .card-info {
      font-size: 0.9rem;
      margin-bottom: 2rem;
    }

    .image-container {
      display: flex;
      justify-content: flex-end;
      padding: 1rem;

      .card-image {
        height: 50px;
        width: 50px;
      }
    }
  }

  .supervisor {
    border-top-color: $cyan;
  }

  .team {
    border-top-color: $red;
  }

  .karma {
    border-top-color: $orange;
  }

  .calculator {
    border-top-color: $blue;
  }
}
